.python-version
.DS_Store
Flyzer.code-workspace
Data_Collector/src/__pycache__/__init__.cpython-38.pyc
Data_Collector/src/__pycache__/connectors.cpython-38.pyc
Data_Collector/test/__pycache__/test_connectors.cpython-38-pytest-7.1.2.pyc
Data_Collector/test/__pycache__/__init__.cpython-38.pyc
.vscode/settings.json
Data_Collector/test/__pycache__/test_endpoints.cpython-38-pytest-7.1.2.pyc
.gitignore
Data_Collector/test/__pycache__/test_parser.cpython-38-pytest-7.1.2.pyc
Data_Collector/src/__pycache__/parser.cpython-38.pyc
